body {
background: #e2e2e2;
}
.container {
position: absolute;
margin: auto;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 200px;
height: 300px;
transform: scale(0.6);
}
.body1 {
background: #a70505;
width: 120px;
height: 43px;
border-radius: 2px;
position: absolute;
top: 200px;
left: 110px;
}
.body2 {
position: absolute;
top: 180px;
left: 1px;
background: red;
width: 230px;
height: 20px;
border-radius: 4px 2px 3px 1px;
}
.body3 {
position: absolute;
top: 200px;
left: 32px;
border-bottom: 39px solid transparent;
border-right: 80px solid #ab0000;
border-radius: 0px 0px 0px 90px;
}
.body4 {
position: absolute;
top: 190px;
left: -150px;
border-top: 28px solid transparent;
border-bottom: 6px solid transparent;
border-right: 100px solid red;
border-radius: 100px 75px 25px 77px;
}
.body5 {
position: absolute;
top: 220px;
left: -100px;
background: #a70505;
width: 11px;
height: 20px;
border-radius: 0px;
}
.body6 {
position: absolute;
top: 137px;
left: 163px;
background: black;
width: 8px;
height: 45px;
border-radius: 7px 1px 1px 1px;
}
.body7 {
position: absolute;
top: 110px;
left: 170px;
width: 0px;
height: 0px;
border-bottom: 73px solid #464343;
border-right: 150px solid transparent;
border-radius: 0px 5px 0px 0px;
}
.spoiler {
position: absolute;
top: 115px;
left: 290px;
width: 0px;
height: 0px;
border-top: 15px solid transparent;
border-right: 60px solid #ab0000;
border-bottom: 55px solid transparent;
border-radius: 50px 15px 50px 0px;
}
.body8 {
position: absolute;
top: 130px;
left: 305px;
background: #f7e31a;
width: 19px;
height: 45px;
border-radius: 90px;
transform: rotate(45deg);
}
.body9 {
position: absolute;
top: 180px;
left: 285px;
background: red;
width: 50px;
height: 45px;
border-radius: 8px;
}
.body10 {
position: absolute;
top: 210px;
left: 315px;
width: 0px;
height: 5px;
border-top: 30px solid #2a2929;
border-right: 30px solid transparent;
}
.fsplitf {
position: absolute;
top: 226px;
left: -117px;
width: 0px;
height: 0px;
border-top: 1px solid transparent;
border-left: 48px solid transparent;
border-bottom: 11px solid #f7e31a;
}
.fsplit {
position: absolute;
top: 238px;
left: -149px;
background: #2a2929;
width: 80px;
height: 15px;
border-radius: 50px 0px 3px 1px;
}
.body11 {
position: absolute;
top: 190px;
left: 171px;
background: #f7e31a;
width: 35px;
height: 42px;
border-radius: 1px 8px 8px 1px;
}
.front {
position: absolute;
top: 160px;
left: 15px;
width: 0;
height: 0;
border-left: 55px solid transparent;
border-right: 8px solid transparent;
border-bottom: 20px solid #464343;
}
.front1 {
position: absolute;
top: 218px;
left: 80px;
width: 0;
height: 0;
border-bottom: 25px solid #2a2929;
border-right: 78px solid transparent;
border-left: 15px solid transparent;
}
.tail {
position: absolute;
top: 193px;
left: 335px;
background: #a70505;
width: 3px;
height: 12px;
border-radius: 1px 5px 5px 1px;
}
.tyre {
position: absolute;
top: 0;
left: 0;
}
.rub {
position: absolute;
top: 155px;
left: -70px;
background: black;
width: 105px;
height: 105px;
border-radius: 50%;
}
.rub1 {
position: absolute;
top: 175px;
left: -50px;
background: white;
width: 65px;
height: 65px;
border-radius: 50%;
}
.rub2 {
position: absolute;
top: 177px;
left: -48px;
background: #464343;
width: 60px;
height: 60px;
border-radius: 50%;
}
.rub3 {
position: absolute;
top: 182px;
left: -43px;
background: grey;
width: 50px;
height: 50px;
border-radius: 50%;
}
.spokes {
position: absolute;
}
.s1 {
position: absolute;
top: 185px;
left: -20px;
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
}
.s2 {
position: absolute;
top: 185px;
left: -20px;
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
transform: rotate(90deg);
}
.s3 {
position: absolute;
top: 185px;
left: -20px;
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
transform: rotate(45deg);
}
.s4 {
position: absolute;
top: 185px;
left: -20px;
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
transform: rotate(-45deg);
}
.tyre1 {
position: absolute;
top: 0;
left: 0;
}
.rubb {
background: black;
width: 105px;
height: 105px;
border-radius: 50%;
position: absolute;
top: 155px;
left: 220px;
}
.rub1b {
width: 65px;
height: 65px;
background: white;
border-radius: 50%;
position: absolute;
top: 175px;
left: 240px;
}
.rub2b {
background: #464343;
width: 60px;
height: 60px;
border-radius: 50%;
position: absolute;
top: 177px;
left: 242px;
}
.rub3b {
background: grey;
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
top: 182px;
left: 247px;
}
.spokesb {
position: absolute;
}
.s1b {
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
position: absolute;
top: 185px;
left: 272px;
}
.s2b {
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
position: absolute;
top: 185px;
left: 272px;
transform: rotate(90deg);
}
.s3b {
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
position: absolute;
top: 185px;
left: 272px;
transform: rotate(45deg);
}
.s4b {
background: black;
width: 3px;
height: 45px;
border-radius: 90px;
position: absolute;
top: 185px;
left: 272px;
transform: rotate(-45deg);
}
.helmet {
position: absolute;
}
.h2 {
position: absolute;
top: 131px;
left: 96px;
background: #9c9c9b;
width: 43px;
height: 44px;
border-radius: 200px 20px 20px 20px;
}
.h1 {
position: absolute;
top: 128px;
left: 95px;
width: 0;
height: 0;
transform: rotate(67deg);
border-left: 35px solid transparent;
border-right: 30px solid transparent;
border-top: 70px solid red;
border-radius: 30px;
}
.h3 {
background: yellow;
width: 45px;
height: 4px;
border-radius: 2px;
position: absolute;
top: 172px;
left: 96px;
}
.h4 {
position: absolute;
top: 132px;
left: 103px;
width: 0;
height: 0;border-left: 30px solid transparent;
border-right: 15px solid transparent;
border-top: 30px solid #2d2c2c;
border-radius: 18px 14px 15px 0px;
transform: rotate(-26deg);
}